<!DOCTYPE html>
<html
        lang="ko"
        xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    <head th:insert="fragments.html::header"></head>
</head>
<body>
<header th:insert="fragments.html::nav"></header>

<!-- my booking -->

<div>
    <div class="md:grid md:grid-cols-3 md:gap-6">
        <div class="md:col-span-1">
            <div class="px-4 sm:px-0">
                <h3 class="text-lg font-medium leading-6 text-gray-900">Review Details</h3>
            </div>
        </div>

        <div class="mt-5 md:mt-0 md:col-span-2">

                <div class="shadow sm:rounded-md sm:overflow-hidden">

                    <div class="px-4 py-5 bg-white space-y-6 sm:p-6">




                        <label hidden for="reviewId" class="sr-only">Review Id</label>
                        <input hidden class="sr-only" id="reviewId" name="reviewId" type="text" th:value="${review.reviewId}">


                        <div>
                            <label for="reviewTitle" class="block text-sm font-medium text-gray-700"> Review Title </label>
                            <div class="mt-1">
                                <textarea id="reviewTitle" name="reviewTitle" rows="1"
                                          class="shadow-sm focus:ring-indigo-500 focus:border-indigo-500 mt-1 block w-full sm:text-sm border border-gray-300 rounded-md"
                                          th:text="${review.reviewTitle}?: _"
                                          placeholder="Title"
                                          readonly>
                                </textarea>
                            </div>
                        </div>

                        <div>
                            <label for="reviewContents" class="block text-sm font-medium text-gray-700"> Review Contents </label>
                            <div class="mt-1">
                                <textarea id="reviewContents" name="reviewContents" rows="3"
                                          class="shadow-sm focus:ring-indigo-500 focus:border-indigo-500 mt-1 block w-full sm:text-sm border border-gray-300 rounded-md"
                                          th:text="${review.reviewText}?: _"
                                          placeholder="Review here"
                                          readonly>
                                </textarea>
                            </div>
                            <p class="mt-2 text-sm text-gray-500"></p>
                        </div>

                        <!-- 현재 테스트용 프로젝트에서는 평점을 수정하지 못함을 가정함. 임시로 리뷰 등록할때마다 계산되게 했으므로. 실제로 배치돌릴땐 상관없을듯 -->
                        <div class="col-span-6 sm:col-span-3">
                            <label for="star" class="block text-sm font-medium text-gray-700">Star Points</label>


                            <label for="star" class="sr-only">Star</label>
                            <input id="star" name="star" type="number" th:value="${review.star}"
                                   class="appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-t-md rounded-b-md  focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm"
                                    readonly>
                        </div>

                        <div class="col-span-6 sm:col-span-3">

                            <div class="flex text-sm text-gray-600">
                                <div class="hidden aspect-w-3 aspect-h-4 rounded-lg overflow-hidden lg:block">
                                    <!--<img src="https://tailwindui.com/img/ecommerce-images/product-page-02-secondary-product-shot.jpg" alt="Two each of gray, white, and black shirts laying flat." class="w-full h-full object-center object-cover">-->
                                    <img th:each="imageFile : ${review.attachFiles}" th:src="|/images/${imageFile}|" alt="Two each of gray, white, and black shirts laying flat." class="w-full h-full object-center object-cover">
                                </div>
                                <!--<p class="pl-1">.</p>-->
                            </div>
                            <p class="flex text-xs text-gray-500"></p>
                        </div>

                    </div>

                </div>



        </div>

    </div>
</div>

</body>
</html>